In [ ]:
### Code to put together table for visualizations

### compress our data into more manageable amount of rows, probabnly ini
## initaily by state

## Then put them together in bins based on the key indicators we identified
## in the data exploration

## Create dataframes/csvs for our visualizations that are relatively simple

In [2]:
### Dependencies and Configuration ###

#from config import password2
#from config import pw2
from sqlalchemy import create_engine

import pandas as pd
import numpy as np
import matplotlib

In [9]:
#### IMPORT DATA #####
# Using panda red_excel to import the data from the excel file

EXCEL_PATH = 'data/ATLAS/FoodEnvironmentAtlas.xls'
VARIABLE_PATH = 'data/ATLAS/variables.csv'
FULL_CSV_PATH = 'data\ATLAS\FoodEnvironmentAtlas_proposed.csv'


# Import entire excel files as a large dictionary with sheet names as keys

#global_dict = pd.read_excel(EXCEL_PATH,
#sheet_name=['Supplemental Data - County','ACCESS', 'STORES', 'RESTAURANTS', 'ASSISTANCE', 'INSECURITY', 'LOCAL', 'HEALTH', 'SOCIOECONOMIC'])


#global_dict

In [10]:
full_merge = pd.read_csv(FULL_CSV_PATH)

full_merge.head()

,Unnamed: 0,County,State,2010_Census_Population,Population_Estimate_2011,Population_Estimate_2012,Population_Estimate_2013,Population_Estimate_2014,Population_Estimate_2015,Population_Estimate_2016,...,PCT_OBESE_ADULTS17,PCT_HSPA17,RECFACPTH11,RECFACPTH16,MEDHHINC15,POVRATE15,PERPOV10,CHILDPOVRATE15,PERCHLDPOV10,METRO13
0,0,Autauga County,Alabama,54571.0,55208.0,54936.0,54713.0,54876.0,54838.0,55242.0,...,36.3,NaN,0.072465,0.108542,56580.0,12.7,0.0,18.8,0.0,1.0
1,1,Baldwin County,Alabama,182265.0,186540.0,190143.0,194886.0,199189.0,202995.0,207712.0,...,36.3,NaN,0.085775,0.101200,52387.0,12.9,0.0,19.6,0.0,1.0
2,2,Barbour County,Alabama,27457.0,27350.0,27174.0,26944.0,26758.0,26294.0,25819.0,...,36.3,NaN,0.073123,0.000000,31433.0,32.0,1.0,45.2,1.0,0.0
3,3,Bibb County,Alabama,22915.0,22747.0,22664.0,22516.0,22541.0,22562.0,22576.0,...,36.3,NaN,0.000000,0.044183,40767.0,22.2,0.0,29.3,1.0,1.0
4,4,Blount County,Alabama,57322.0,57554.0,57570.0,57611.0,57521.0,57522.0,57517.0,...,36.3,NaN,0.052118,0.069490,50487.0,14.7,0.0,22.2,0.0,1.0

In [11]:

# Lambda function to parse dataframe column names
# We need to parse the names in order to group them and average then so we can flatten the matching variables into one column

s = 'Population_Estimate_2011'
result = ''.join(i for i in s if not i.isdigit())
result

'Population_Estimate_'

In [13]:
# Create a dictionary of the column names 
# Top level of the dictionary is the column name we want to output
# next level is a list of the column names we want to average
# For many of our features we have the same measure from muptiple years
# This operation will average the values from the multiple years

column_dict={}
for each_column in full_merge.columns: 
    s=each_column
    result=''.join(i for i in s if not i.isdigit())
    if result in column_dict: 
        column_dict[result].append(each_column)
    else: 
        column_dict[result]=[each_column]

In [15]:
# # Display Column Dictionary
# column_dict

In [18]:
# create new dataframe for the averaged values
new_df=pd.DataFrame()

In [19]:
# This function goes through the dictionary and applys the .mean function across the rows

for each_column_group in column_dict: 
    new_df[each_column_group]=full_merge[column_dict[each_column_group]].mean(axis=1)
new_df

C:\Users\Justin\AppData\Local\Temp\ipykernel_3772\1426591857.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  new_df[each_column_group]=full_merge[column_dict[each_column_group]].mean(axis=1)
C:\Users\Justin\AppData\Local\Temp\ipykernel_3772\1426591857.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  new_df[each_column_group]=full_merge[column_dict[each_column_group]].mean(axis=1)

,Unnamed:,County,State,_Census_Population,Population_Estimate_,FIPS,PCT_LACCESS_POP,PCT_LACCESS_LOWI,PCT_LACCESS_HHNV,PCT_LACCESS_SNAP,...,PCT_DIABETES_ADULTS,PCT_OBESE_ADULTS,PCT_HSPA,RECFACPTH,MEDHHINC,POVRATE,PERPOV,CHILDPOVRATE,PERCHLDPOV,METRO
0,0.0,NaN,NaN,54571.0,55107.125,1001.0,32.915956,10.892328,3.318059,4.608749,...,12.20,34.65,NaN,0.090504,56580.0,12.7,0.0,18.8,0.0,1.0
1,1.0,NaN,NaN,182265.0,201513.250,1003.0,18.042981,5.442344,2.026471,1.298900,...,10.10,34.65,NaN,0.093488,52387.0,12.9,0.0,19.6,0.0,1.0
2,2.0,NaN,NaN,27457.0,26297.250,1005.0,21.473266,11.079991,4.232624,4.303147,...,16.00,34.65,NaN,0.036562,31433.0,32.0,1.0,45.2,1.0,0.0
3,3.0,NaN,NaN,22915.0,22570.125,1007.0,4.395039,2.373144,3.140004,0.676710,...,12.95,34.65,NaN,0.022092,40767.0,22.2,0.0,29.3,1.0,1.0
4,4.0,NaN,NaN,57322.0,57620.250,1009.0,4.599110,1.971309,3.302897,0.812727,...,12.75,34.65,NaN,0.060804,50487.0,14.7,0.0,22.2,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3139,3139.0,NaN,NaN,21118.0,20735.375,56039.0,29.174448,6.192436,0.957535,0.670815,...,4.45,26.70,NaN,0.489950,83290.0,6.6,0.0,7.6,0.0,0.0
3140,3140.0,NaN,NaN,8533.0,8239.125,56041.0,21.205050,8.458650,1.863071,2.072485,...,7.65,26.70,NaN,0.120057,62968.0,9.8,0.0,11.9,0.0,0.0
3141,3141.0,NaN,NaN,7208.0,7107.125,56043.0,10.915407,3.179765,0.799968,1.053980,...,11.25,26.70,NaN,0.120167,56088.0,11.2,0.0,15.7,0.0,0.0
3142,3142.0,NaN,NaN,NaN,NaN,56045.0,17.187570,4.094344,2.605901,0.971078,...,8.55,26.70,NaN,0.070018,60986.0,9.8,0.0,13.1,0.0,0.0
3143,3143.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
new_df.columns

Index(['Unnamed: ', '_Census_Population', 'Population_Estimate_', 'FIPS',
       'PCT_LACCESS_POP', 'PCT_LACCESS_LOWI', 'PCT_LACCESS_HHNV',
       'PCT_LACCESS_SNAP', 'GROCPTH', 'SUPERCPTH', 'CONVSPTH', 'SNAPSPTH',
       'WICSPTH', 'FFRPTH', 'FSRPTH', 'PC_FFRSALES', 'PC_FSRSALES',
       'REDEMP_SNAPS', 'PCT_SNAP', 'PC_SNAPBEN', 'SNAP_PART_RATE',
       'PC_WIC_REDEMP', 'REDEMP_WICS', 'PCT_WIC', 'PCT_WICINFANTCHILD',
       'FOOD_BANKS', 'FOODINSEC__', 'VLFOODSEC__', 'FMRKTPTH', 'FOODHUB',
       'PCT_DIABETES_ADULTS', 'PCT_OBESE_ADULTS', 'PCT_HSPA', 'RECFACPTH',
       'MEDHHINC', 'POVRATE', 'PERPOV', 'CHILDPOVRATE', 'PERCHLDPOV', 'METRO'],
      dtype='object')

In [23]:
## Drop the damaged columns

new_df.drop(['County','State'], axis=1, inplace=True)

In [24]:
### Concatinate the new dataframe with the original dataframe to get the state and county naMES BACK

full_merge = pd.concat([full_merge, new_df], axis=1, sort=False)

In [34]:
full_merge.shape

viz_df = full_merge[['State','County','_Census_Population', 'Population_Estimate_', 'FIPS',
       'PCT_LACCESS_POP', 'PCT_LACCESS_LOWI', 'PCT_LACCESS_HHNV',
       'PCT_LACCESS_SNAP', 'GROCPTH', 'SUPERCPTH', 'CONVSPTH', 'SNAPSPTH',
       'WICSPTH', 'FFRPTH', 'FSRPTH', 'PC_FFRSALES', 'PC_FSRSALES',
       'REDEMP_SNAPS', 'PCT_SNAP', 'PC_SNAPBEN', 'SNAP_PART_RATE',
       'PC_WIC_REDEMP', 'REDEMP_WICS', 'PCT_WIC', 'PCT_WICINFANTCHILD',
       'FOOD_BANKS', 'FOODINSEC__', 'VLFOODSEC__', 'FMRKTPTH', 'FOODHUB',
       'PCT_DIABETES_ADULTS', 'PCT_OBESE_ADULTS', 'PCT_HSPA', 'RECFACPTH',
       'MEDHHINC', 'POVRATE', 'PERPOV', 'CHILDPOVRATE', 'PERCHLDPOV', 'METRO']]

In [42]:
check_df = viz_df[['PC_FFRSALES', 'PC_FSRSALES',
       'REDEMP_SNAPS', 'PCT_SNAP']]

check_df

      PC_FFRSALES  PC_FSRSALES   REDEMP_SNAPS   PCT_SNAP
0      662.157044   498.331247  262308.879714  17.704266
1      662.157044   498.331247  216008.818615  17.704266
2      662.157044   498.331247  291264.319827  17.704266
3      662.157044   498.331247  292084.638569  17.704266
4      662.157044   498.331247  186295.424096  17.704266
...           ...          ...            ...        ...
3139   627.117877   711.156035   72247.262351   5.812612
3140   627.117877   711.156035  196516.354658   5.812612
3141   627.117877   711.156035  109415.864589   5.812612
3142   627.117877   711.156035   51324.967018   5.812612
3143          NaN          NaN            NaN        NaN

[3144 rows x 4 columns]

In [36]:
### Output viualization dataframe to csv

viz_df.to_csv('data/ATLAS/viz.csv', index=False)